/* .Show-List{
    margin: 20px;
}
.Show-List-Title{
    text-align: center;
    border-color: blueviolet;
    background-color: rgb(112, 193, 240);

}


.Show-List-Ul{
   display: flex;
   flex-flow:column;
   justify-content: center;
   list-style-type: circle;
   margin: auto;
   background-color: rgba(35, 54, 77, 0.626);
} */

.show-list {
    padding: 20px;
  }
  
  .show-list-title {
    background-color: #8b595d;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .show-list-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .task-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  
  
  .task-card-description {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .task-card-due-date {
    font-size: 0.9em;
    color: rgb(95, 77, 77);
    align-self: flex-end;
  }
  
  .task-card-status {
    font-weight: bold;
    align-self: flex-end;
  }
  
  .task-card.in-progress {
    background-color: #ceba7b;
  }
  
  .task-card.completed {
    background-color: #5ec798;
    text-decoration: line-through;
  }
  
  .task-card.pending {
    background-color: #7fb2c1;
  }
  
  .task-card.top-priority {
    background-color: #e74653;
  }